


.profileBox-container .profileBox{
    background-color: rgb(21, 22, 22);
    width: auto; /* Allow the width to adjust dynamically */
    min-width: 200px; /* Set a minimum width to ensure it doesn't shrink too much */
    max-width: 300px;
    top: 100%;
    left: -50px;
    right: -100px;
    height: 250px;
    padding: 30px 30px 30px 30px;
    margin-top: 20px;
   position: absolute;
   display: flex;
   flex-direction: column;
   gap: 40px;
   align-items: flex-start;
   border-radius: 5px;
}

.imageOfprofile{
    display: flex;
    align-items: center;
    gap: 10px;
}

.imageOfprofile strong{
    background-color: rgb(236, 241, 244);
    color: black;
    padding-left: 8px;
    padding-right: 25px;
    border-radius: 5px;
    
}